body{
    background-color: aqua;
    font-family: Arial, Helvetica, sans-serif;
}

.content{
    background-color: rgb(39, 188, 207);
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.btn-item{
    text-align: center;
}

input[type = "submit"]{
    height: 50px;
    width: 50px;
    padding: 10px;
    margin: 5px;
    background-color: cornflowerblue;
    font-weight: 700;
}

input[type = "submit"]:hover{
    transition: 0.2s all ease;
    border-radius: 15px;
    background-color: aliceblue;
}

input[type = "text"]{
    height: 30px;
    width: 300px;
    padding: 10px;
    margin: 5px;
    border-radius: 25px;
    font-size: 20px;
}

marquee{
    text-transform: uppercase;
}